.carte__photo {
    width: 100%;
    height: 17rem;
    background-color: red;
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.carte__titre {
    margin-left: 0.5rem;
}
.menu {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: $section-bg-color;
    

    &__titre {
        margin-left: 0.5rem;
    }
}

.plat {
    @include structure-plat;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
