footer {
    background-color: $footer-bg-color;
    color: white;
    @include alignement-gen;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;

    .logo {
        font-weight: inherit;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    ul {
        padding: 0;
    }
    li {
        list-style: none;
        margin-bottom: 0.5rem;
    }
    a {
        color: white;
    }
}