/*importation de tous les partiels sass*/
/*fonctions*/
@keyframes spin1 {
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes spin2 {
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(240deg);
    opacity: 0;
  }
}
@keyframes spin3 {
  95% {
    opacity: 1;
  }
  100% {
    transform: rotate(120deg);
    opacity: 0;
  }
}
@keyframes presentation-plat {
  0% {
    opacity: 0;
    transform: translate(0, 2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/*placeholders*/
body {
  margin: 0;
}

@font-face {
  font-family: "Roboto-light";
  src: url("../../public/police/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../../public/police/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../../public/police/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../public/police/Shrikhand-Regular.ttf");
}
* {
  font-family: Roboto-light;
}

.logo, .nom-restaurant {
  font-family: Shrikhand;
}

h1, h2, .fonctionnement__texte, .localisation {
  font-family: Roboto-bold;
}

h3, .btn {
  font-family: Roboto-regular;
  font-size: 1rem;
}

.menu__titre {
  font-family: Roboto-light;
  font-size: 1rem;
  font-weight: unset;
}

html {
  font-size: 100%;
}

.icone {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1rem;
  width: 1rem;
}
.icone--petit {
  font-size: 0.8rem;
}
.icone--gris {
  color: grey;
}
.icone--couleur-primaire {
  color: #9356DC;
}

.btn {
  margin: 1.5rem auto 0 auto;
  height: 3rem;
  min-width: 10rem;
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: #9356DC;
  padding: 0 1.5rem 0 1.5rem;
  box-shadow: inset 0.5rem 1rem 3rem #FF79DA, 0.2rem 0.2rem 0.2rem #bebebe;
  transition: all 500ms;
}
.btn:hover {
  background-color: #a16be0;
  box-shadow: inset 0.5rem 1rem 3rem #ff93e1, 0.2rem 0.2rem 0.2rem #8b8b8b;
}

.btn__commander {
  text-align: center;
  padding-bottom: 5rem;
}

.btn-heart {
  border: none;
  background-color: unset;
  cursor: pointer;
  outline: unset;
  /*supprimer les bordures lors du click*/
}
.btn-heart .heart-global {
  font-size: 1.2rem;
}
.btn-heart .heart-border {
  color: black;
  font-size: 1.5rem;
  position: relative;
  top: 0.2rem;
  transition: opacity 0.5s;
  opacity: 1;
}
.btn-heart .heart-background {
  color: #9356DC;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s;
}
.btn-heart:hover .heart-border, .btn-heart:focus .heart-border {
  opacity: 0;
}
.btn-heart:hover .heart-background, .btn-heart:focus .heart-background {
  opacity: 1;
}

.loader {
  animation: spin1 3s linear forwards;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #9356DC;
  border-top-color: #9356DC;
  box-sizing: border-box;
  height: 20vmin;
  width: 20vmin;
  left: calc(50% - 10vmin);
  top: calc(50% - 10vmin);
  opacity: 1;
  position: fixed;
  z-index: 1;
}
.loader:before {
  animation: spin2 3s linear forwards;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  border-top-color: #FF79DA;
  box-sizing: border-box;
  height: 16vmin;
  width: 16vmin;
  left: 0;
  top: 0;
  opacity: 1;
  content: "";
  position: absolute;
}
.loader:after {
  animation: spin3 3s linear forwards;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #99E2D0;
  border-top-color: #99E2D0;
  box-sizing: border-box;
  height: 12vmin;
  width: 12vmin;
  left: 2vmin;
  top: 2vmin;
  opacity: 1;
  content: "";
  position: absolute;
}

header .logo {
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 0 2rem 1rem;
  margin-bottom: 0;
}
footer .logo {
  font-weight: inherit;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.carte__photo {
  width: 100%;
  height: 17rem;
  margin-bottom: -4rem;
  position: relative;
  z-index: -1;
}
.carte__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nom-restaurant {
  margin-left: 0.5rem;
}

.menu {
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: #EFEFEF;
  border-radius: 2rem 2rem 0 0;
}
.menu__titre {
  margin-left: 0.5rem;
}

.plat {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-row-gap: 0.2rem;
  background-color: white;
  padding: 0.8rem 0 0.5rem 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #bebebe;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.plat__titre, .plat__texte, .plat__prix {
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.plat__prix {
  grid-column-start: 3;
  grid-row-start: 2;
  text-align: center;
  font-family: Roboto-bold;
}
.plat__texte {
  grid-column: 1/span 2;
  grid-row-start: 2;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__icone {
  grid-column-start: 3;
  grid-row: 1/span 2;
  margin: auto;
}

.list-menu {
  margin-top: 2rem;
}

.list-1 {
  animation: presentation-plat 2s 2s backwards;
}
.list-1 .plat {
  animation: presentation-plat 2s 3s backwards;
}

.list-2 {
  animation: presentation-plat 2s 4s backwards;
}
.list-2 .plat {
  animation: presentation-plat 2s 5s backwards;
}

.list-3 {
  animation: presentation-plat 2s 6s backwards;
}
.list-3 .plat {
  animation: presentation-plat 2s 7s backwards;
}

.bloc-description {
  display: flex;
  flex-direction: column;
}
.bloc-description .localisation {
  background-color: #EAEAEA;
  line-height: 3rem;
  text-align: center;
  color: #353535;
  margin: 0;
  box-shadow: inset 0 0.1rem 0.2rem #bebebe;
}
.bloc-description .restaurant__description {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  text-align: center;
  padding-bottom: 3rem;
}
.bloc-description .restaurant__description .description__titre {
  margin: 3rem 4rem 0 4rem;
}
.bloc-description .restaurant__description .description__texte {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bloc-fonctionnement {
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 3rem;
}
.bloc-fonctionnement h1 {
  margin-top: 3rem;
  margin-bottom: 0rem;
}
.bloc-fonctionnement ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0.75rem;
}
.bloc-fonctionnement ol li::before {
  content: counter(li);
  color: white;
  background-color: #9356DC;
  display: inline-block;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 1.5rem;
  font-family: roboto-regular;
  position: relative;
  right: 0.75rem;
}
.bloc-fonctionnement ol li {
  counter-increment: li;
  background-color: #EFEFEF;
  margin-top: 1rem;
  display: inline-block;
  line-height: 4.5rem;
  width: 19rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #bebebe;
}
.bloc-fonctionnement .fonctionnement__texte {
  margin-left: 1rem;
}

.bloc-restaurant {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  background-color: #EFEFEF;
  padding-bottom: 3rem;
}
.bloc-restaurant h1 {
  margin-top: 3rem;
}
.bloc-restaurant .restaurant__container {
  margin-bottom: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  background-color: white;
  position: relative;
}
.bloc-restaurant .restaurant__photo {
  object-fit: cover;
  width: 100%;
  height: 11rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 0rem;
}

.restaurant {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-row-gap: 0.2rem;
  background-color: white;
  padding: 0.8rem 0 0.5rem 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #bebebe;
  border-radius: 0 0 1rem 1rem;
}
.restaurant__titre, .restaurant__texte, .restaurant__prix {
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.restaurant__prix {
  grid-column-start: 3;
  grid-row-start: 2;
  text-align: center;
  font-family: Roboto-bold;
}
.restaurant__texte {
  grid-column: 1/span 2;
  grid-row-start: 2;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__icone {
  grid-column-start: 3;
  grid-row: 1/span 2;
  margin: auto;
}
.restaurant__titre {
  font-size: 1rem;
}

.tag_nouveau {
  background-color: #99E2D0;
  color: #2b806c;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  position: absolute;
  top: 1rem;
  left: 15rem;
  font-family: roboto-bold;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}

/*fin de l'importation des partiels sass*/

/*# sourceMappingURL=style.css.map */
