@font-face {
    font-family: 'Roboto-light';
    src: url('../../public/police/Roboto-Light.ttf')
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../../public/police/Roboto-Bold.ttf')
}
@font-face {
    font-family: 'Shrikhand';
    src: url('../../public/police/Shrikhand-Regular.ttf')
}
* {
    font-family: Roboto-light;
}
.logo {
    font-family: Shrikhand;
}
h1, h2, h3 {
    font-family: Roboto-bold;
}