@font-face {
    font-family: 'Roboto-light';
    src: url('../../public/police/Roboto-Light.ttf')
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../../public/police/Roboto-Bold.ttf')
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('../../public/police/Roboto-Regular.ttf')
}
@font-face {
    font-family: 'Shrikhand';
    src: url('../../public/police/Shrikhand-Regular.ttf')
}
* {
    font-family: Roboto-light;
}
.logo, .carte__titre {
    font-family: Shrikhand;
}
h1, h2, .fonctionnement__texte {
    font-family: Roboto-bold;
}
h3 {
    font-family: Roboto-regular;
    font-size: 1rem;
}
.menu__titre {
    font-family: Roboto-light;
    font-size: 1rem;
    font-weight: unset;
}
html {
    font-size: 100%;
}