.bloc-description {
    display: flex;
    flex-direction: column;

    .localisation {
        background-color: #EAEAEA;
        line-height: 3rem;
        text-align: center;
        font-family: Roboto-bold;
        color: $footer-bg-color;
        margin: 0; 
        box-shadow: inset 0 0.1rem 0.2rem rgb(190, 190, 190);
    }

    div {
        display: flex;
        flex-direction: column;
        background-color: $section-bg-color;
        text-align: center;
        height: 18rem;

        .description__titre {
            display: inline-block;
            margin: 3rem 4rem 0 4rem;
        }

        .description__texte {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .description__btn {
            margin: auto;
            margin-top: 1.5rem;
            height: 3rem;
            border-radius: 2rem;
            border: none;
            color: white;
            background-color: $couleur-primaire;
            padding: 0 1.5rem 0 1.5rem;
            font-family: Roboto-regular;
            box-shadow: inset 0.5rem 1rem 3rem $couleur-secondaire, 0.2rem 0.2rem 0.2rem rgb(190, 190, 190);
        }
    }
}

.bloc-fonctionnement {
    h1 {
        margin-left: 1rem;
    }

    ol {
        list-style: none;
        counter-reset: li;
        padding-left: 1.75rem;

        li::before {
            content: counter(li);
            color: white;
            background-color: $couleur-primaire;
            display: inline-block;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            border-radius: 2rem;
            font-family: roboto-regular;
            position: relative;
            right: 0.8rem;
        }
        li {
            counter-increment: li;
            background-color: $section-bg-color;
            margin-bottom: 1rem;
            display: inline-block;
            line-height: 4.5rem;
            width: 90%;
            border-radius: 1rem;
            @include box-shadow;
        }
    }

    .fonctionnement__texte {
        margin-left: 1rem;
    }
}