.bloc-description {
    display: flex;
    flex-direction: column;

    .localisation {
        background-color: #EAEAEA;
        line-height: 3rem;
        text-align: center;
        color: $footer-bg-color;
        margin: 0; 
        box-shadow: inset 0 0.1rem 0.2rem rgb(190, 190, 190);
    }

    .restaurant__description {
        display: flex;
        flex-direction: column;
        background-color: $section-bg-color;
        text-align: center;
        padding-bottom: $section-margintop;
        align-items: center;

        .description__titre {
            margin-top: $section-margintop;
            max-width: 70%;
        }

        .description__texte {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            max-width: 90%;
        }
    }
}

.bloc-fonctionnement {
    @include alignement-gen;
    padding-bottom: $section-margintop;

    h1 {
        margin-top: $section-margintop;
        margin-bottom: 0rem;
    }

    ol {
        list-style: none;
        counter-reset: li;
        padding-left: $fonctionnement-counter-size/2;
        display: flex;
        flex-direction: column;
        @media (min-width: 576px) {
            align-items: center;
        }
        

        li::before {
            content: counter(li);
            color: white;
            background-color: $couleur-primaire;
            display: inline-block;
            width: $fonctionnement-counter-size;
            line-height: $fonctionnement-counter-size;
            text-align: center;
            border-radius: $fonctionnement-counter-size;
            font-family: roboto-regular;
            position: relative;
            right: $fonctionnement-counter-size/2;
        }
        li {
            counter-increment: li;
            background-color: $section-bg-color;
            margin-top: 1rem;
            display: inline-block;
            line-height: 4.5rem;
            width: 19rem;
            border-radius: 1rem;
            @include box-shadow;
        }
        li:last-child {
            background-color: transparentize($color: $couleur-primaire, $amount: 0.8);
        }
    }

    .fonctionnement__texte {
        margin-left: 1rem;
    }
}

.bloc-restaurant {
    display: flex;
    flex-direction: column;
    @include alignement-gen;
    background-color: $section-bg-color;
    padding-bottom: $section-margintop;

    h1 {
        margin-top: $section-margintop;
    }
    .test {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 768px) {
            max-height: 600px;
        }
        @media (min-width: 576px) {
            align-items: center;
        }
    }
    .restaurant__container {
        margin-bottom: 1rem;
        border-radius: 1rem;
        margin-right: 1rem;
        background-color: white;
        position: relative;
        max-width: 350px;
    }

    .restaurant__photo {
        object-fit: cover;
        width: 100%;
        height: 11rem;
        border-radius: 1rem 1rem 0 0;
        margin-bottom: 0rem;
    } 
}
.restaurant {
    @include structure-plat;
    border-radius: 0 0 1rem 1rem;
    &__titre {
        font-size: 1rem;
    }
}
