@keyframes chargement-page {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spin-1 {
    80% {
        opacity: 1;
    }
    100% {
        transform:rotate(360deg);
        opacity: 0;
    }
}
@keyframes spin-2 {
    90% {
        opacity: 1;
    }
    100% {
        transform:rotate(240deg);
        opacity: 0;
    }
}
@keyframes spin-3 {
    95% {
        opacity: 1;
    }
    100% {
        transform:rotate(120deg);
        opacity: 0;
    }
}

@keyframes presentation-plat {
    0% {
        opacity: 0;
        transform: translate(0, 2rem)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}