@mixin box-shadow {
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(190, 190, 190);
}

@mixin alignement-gen {
    padding-left: 1rem;
}

@mixin structure-plat {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-row-gap: 0.2rem;
    background-color: white;
    padding: 0.8rem 0 0.5rem 0.5rem;
    @include box-shadow;

    &__titre, &__texte, &__prix {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    &__prix {
        grid-column-start: 3;
        grid-row-start: 2;
        text-align: center;
        font-family: Roboto-bold;
    }
    &__texte {
        grid-column-start: 1;
        grid-row-start: 2;
        font-size: 0.9rem;
    }

    &__icone {
    
        grid-column-start: 3;
        grid-row: 1 / span 2;
        margin: auto;
    }
}
/* fonction à ajouter pour les menus
margin-bottom: 1rem;
border-radius: 1rem;
*/