@mixin box-shadow {
    box-shadow: 0.2rem 0.2rem 0.2rem $couleur-boxshadow;
}

@mixin alignement-gen {
    padding-left: 1rem;
}

@mixin structure-plat {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-row-gap: 0.2rem;
    background-color: white;
    padding: 0rem 0 0rem 0.5rem;
    @include box-shadow;

    &__titre{
        margin-bottom: 0rem;
        margin-top: 0.8rem;
        width: 90%;
    }
    &__texte, &__prix {
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }
    &__prix {
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: center;
        font-family: Roboto-bold;
    }
    &__texte {
        grid-column-start: 1;
        grid-row-start: 2;
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__icone {
        grid-column-start: 2;
        grid-row: 1 / span 2;
        margin: auto;
    }
}

@mixin loader-animation($animation: spin1, $color: $couleur-primaire, $size: 20vmin, $position) {
    animation: $animation 3s linear forwards;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: $color;
    border-top-color: $color;
    box-sizing: border-box;
    height: $size;
    width: $size;
    left: $position;
    top: $position;
    opacity: 1;
}

@mixin animation-plat($delay: 0s) {
    animation: presentation-plat $presentation-plat__duration $delay backwards;
}

@mixin selection-plat {
    overflow: hidden;

    &__prix {
        transform: translate(0);
        transition: transform 1s;
    }
    &__texte {
        width: 100%;
        transition: width 1s;
    }
    &__icone {
        background-color: $couleur-tertiaire;
        width: 100%;
        height: 100%;
        display: inline-block;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 0 1rem 1rem 0;
        transform: translate(100%);
        transition: transform 1s;
        z-index: 1;
        i {
            transform: rotate(360deg);
            transition: transform 1s;
            position: relative;
            top: 25%;
            color: white;
        }
    }
    &:hover, &:active {
        .plat__texte {
            width: 75%;
        }
        .plat__icone {
            transform: translate(0);
        }
        .plat__prix {
            transform: translate(-100%);
        }
        i {
            transform: rotate(0);
        }
    }
}
