$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$footer-bg-color: #353535;
$section-bg-color: #EFEFEF;

$fonctionnement-counter-size: 1.5rem;
$section-margintop: 3rem;
$menu-vertical-align: 0.5rem;